
body{
  border: 2px solid black;
  padding: 20px;
  width: 800px;
  margin: 10px auto;
}
.flex-container {
  display: flex; 
  justify-content: space-between; 
}
.LeftCol{
  width: 100%;
  padding: 10px;
}
.RightCol{
  width: 60%;
  padding: 10px;

}
