/* .header{
    color: red;
} */
.Experience {
  /* background-color: red; */
  /* width: 55%; */
  padding: 10px;
}

.Experience h2 {
  flex-direction: row;
  background-color: black;
  text-align: center;
  color: white;
}
